@charset "UTF-8";

/*

    Paleta
--cambridge-blue: #86A19Dff;
--tea-rose-red: #F6BBBBff;
--light-blue: #BBDAD5ff;
--tiffany-blue: #A2D0CBff;
--melon: #F1B1B0ff;
--mint-green: #CDECE8ff;
--tea-rose-red-2: #FBC2C1ff;
--rosy-brown: #C8A4A1ff;


*/

:root {
    --cambridge-blue: #86A19Dff;
    --tea-rose-red: #F6BBBBff;
    --light-blue: #BBDAD5ff;
    --tiffany-blue: #A2D0CBff;
    --melon: #F1B1B0ff;
    --mint-green: #CDECE8ff;
    --tea-rose-red-2: #FBC2C1ff;
    --rosy-brown: #C8A4A1ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--cambridge-blue);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    background-color: white;
    width: 260px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    transform: translate(-50%, -50%);
    transition: width .4s, height .4s;
}

div#imagem{
    background: blue url(../imagens/fundo.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 20px 0px 0px;
    display: block;
}

section#login > div#form{
    padding: 10px;
    display: block;
}


div#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#form p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: var(--cambridge-blue);
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 5px;
    margin: 5px 0px;
}

form > div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: var(--tea-rose-red);
    font-size: 1em;
    width: calc(100% - 45px);  
    height: 89%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    transform: translateY(-10px);
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--tiffany-blue);
    border: 1px solid #49726d;
    border-radius: 5px;
}

form > input[type=submit]:hover{
    background-color: var(--light-blue);
    cursor: pointer;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 1px solid #49726d;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: #49726d;
    padding-top: 7px;
}

form > a.botao > span{
    font-size: 1em;
}

form > a.botao:hover{
    background-color: var(--cambridge-blue);
    color: white;
}