@charset "UTF-8";

/*

    Paleta
--cambridge-blue: #86A19Dff;
--tea-rose-red: #F6BBBBff;
--light-blue: #BBDAD5ff;
--tiffany-blue: #A2D0CBff;
--melon: #F1B1B0ff;
--mint-green: #CDECE8ff;
--tea-rose-red-2: #FBC2C1ff;
--rosy-brown: #C8A4A1ff;


*/